body {
  background-color: gray;
}
.container {
  background-color: gray;
  background-color: gray;

}
header {
  text-align: center;
  height: auto;
  background-color: gray;
  margin: auto;
  color: #88CD8A;
}
footer {

}
.inputBox {
  display: block;
  margin: auto;
  width: 400px;
  height: auto;
  border: double 10px #FF378F;
}
#input {
  width: 350px;
  display: block;
  margin: auto;
  text-align: center;
}
#transBtn {
  display: block;
  margin: auto;
}

#outputBox {
  font-size: 40px;
  text-align: center;
  width: 400px;
  min-height: 400px;
  height: auto;
  display: block;
  color: black;
  background-color: #eee;
  border: double 10px #0CC8FE;
  margin: 10px auto;
  text-indent: 10px;
}
#outPut {
  margin: 10px;
}
